#tour-container {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    position: fixed;
    top: 30px;
    transition: left 0.4s linear;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
}

.tour-decloration {
    position: fixed;
    width: 100%;
    top: 0;
    color: #111;
    height: 30px;
    font-family: source_sans_proextralight;
    background-color: #FFFFFF;
}

.tour-decloration p {
    text-align: center;
    line-height: 30px;
}

.tour-card {
    height: 100%;
    display: inline-block;
    width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    
}

.image-container{
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #FFFFFF;
  
}

.image-container video, .image-container img{
    max-width:100%;
    max-height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.image-container input {
    width: 80%;
    padding: 5px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    z-index: 10;
    color: black;
    font-size: 20px;
}



.bottom-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #111;
    color: #fff;
    height: 40px;
    font-family: source_sans_proextralight;
} 

h4 {
    color: #111;
    font-size: 1.5rem;
    width: 90%;
}

p {
    white-space: normal;
    margin-bottom: 0;
    font-size: 14px;
}



.content {
    font-size: 1rem;
    overflow: hidden;
    margin: 1rem;
    font-family: source_sans_proregular;
    position: relative;
    width: 95%;
   height: 50%;
}

.prev {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
} 

.next {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
}  

.slide-next{
    width:0px;
    height: 100%;
    transition: all 1s;
    float: right;
    -webkit-box-shadow: 0px 0px 20px 1px #777;
    -moz-box-shadow: 0px 0px 20px 1px #777;
    box-shadow: 0px 0px 20px 1px #777;
    z-index: 20;
    display: none;
}


.card-action {
    max-width: 200px;
    background-color: #32B433;
    color: #fff;
    font-family: source_sans_proregular;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right:auto;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.marker {
    position: relative;
    height: 1px;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) { 
    h4 {
        font-size: 1rem;
    }
    p{
        font-size: 12px;
        line-height: 1rem;
    }
    .card-action{
        margin-top: 0.2 rem;
    }
}





